---
---
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
    @media only screen  and (min-width : 768px) {
        letter-spacing: 1.5px;
        line-height: 1.7;
    }
}

.navigator {
    text-align: right;
    margin-top: 20px;
    padding: 0px 10px 0 10px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    @media only screen and (max-width : 640px) {
        font-size: 0.9em;
    }

    a {
        padding: 4px 6px;
        margin-right: 5px;
        text-decoration: none;
        color: #37474F;
    }
    .github {
        color: #37474F;
    }
    .twitter {
        color: #37474F;
    }
    .gmail {
        color: #37474F;
    }
}

.current {
    background-color: #eee;
    border-radius: 3px;
    color: white;
}

.head-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.home {
    padding: 0px;
    margin-top: 0px;
    font-family: 'Fira Sans', sans-serif;
    section {
        padding: 100px 40px 0px;
        max-width: 600px;
        margin: 0 auto;
        z-index: 99;
        @media only screen and (max-width : 640px) {
            padding: 100px 20px 0px;
        }
        header {
            @media only screen and (max-width : 640px) {
                font-size: 0.7em;
            }
            border-bottom: 1px solid #eee;
            margin-bottom: 40px;
            padding-bottom: 20px;
            text-align: center;
            position: relative;
            h1 {
                font-size: 2.5em;
                color: #332;
                margin: 0px;
                font-weight: 700;
                font-family: Helvetica, sans-serif;
            }
            p {
                font-weight: 300;
                color: #aaa;
                @media only screen and (max-width : 640px) {
                    font-size: 1.3em;
                }
            }
        }
    }
}

.animated {
    animation: fade-in-down .6s;
    animation-name: fade-in-down;
    animation-duration: 0.6s;
    animation-timing-function: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: both;
    animation-play-state: initial;
    animation-delay: .3s;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}


.heart {
    color: deeppink;
    padding: 0px 1px 0px 1px;
}

.main-stuff {
    font-family: Helvetica, sans-serif;
    padding: 0px 40px 20px 40px;
    max-width: 600px;
    margin: 0 auto;
    color: #666;
    @media only screen and (max-width : 640px) {
        font-size: 0.8em;
        line-height: 1.5;
        letter-spacing: 1.3px;
        padding: 0px 20px 20px 20px;
    }
}

.keywords {
    color: deeppink;
}

#footer {
    // box-shadow: inset 0 1px 0 #eee;
    // padding: 40px 0 0 0;
    font-family: 'Roboto Mono', sans-serif;
    max-width: 600px;
    text-align: center;
    margin: auto auto 50px auto;
    p{
        @media only screen and (max-width : 640px) {
            font-size: 12px;
        }
        color: #bbb;
        font-size: 14px;
        line-height: 1.5;
        display: block;
    }
}

.article-list {
    list-style: none;
    padding: 0px;
    li {
        margin-bottom: 20px;
        a {
            text-decoration: none;
            display: block;
            color: #332;
            font-size: 1.3em;
            aside {
                float: right;
                color: #b2b9be;
                font-size: 0.73em;
            }
        }
    }
}

.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px;
    display: block;
    @media only screen and (max-width : 640px) {
        padding: 60px 20px 100px 20px;
    }
    article {
        margin: 80px 0px 0px 0px;
        header {
            text-align: center;
            h1 {
                @media only screen and (max-width : 640px) {
                    font-size: 24px;
                }
                font-size: 32px;
                line-height: 1.4em;
                margin-bottom: 15px;
                color: #332;
                font-weight: 300;
                font-family: 'Fira Sans', sans-serif;
            }
            h6 {
                color: #b2b9be;
                font-weight: normal;
                font-size: 13px;
                margin-top: 0px;
                padding-top: 5px;
                letter-spacing: 2px;
                line-height: 1.5em;
                font-family: 'Fira Sans', sans-serif;
            }
            div {
                display: inline-flex;
                padding: 10px 20px;
                font-family: 'Fira Sans', sans-serif;
                a {
                    margin-right: 10px;
                    font-weight: 300;
                    color: #b2b9be;
                    font-size: 0.8rem;
                    text-decoration: none;
                    padding: 1px 8px;
                    border-radius: 2px;
                    background-color: #ededed;
                    letter-spacing: 1px;
                }
            }
            h6 {
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 0px;
            }
        }
    }
}

.body {
    line-height: 1.7em;
    margin-top: 50px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #303030;
    font-family: Helvetica, sans-serif;
    @media only screen and (max-width : 640px) {
        font-size: 15px;
        word-break: break-all;
    }
    h1,h2,h3,h4,h5,h6 {
        color: #303030;
        font-family: 'Fira Sans', sans-serif;
    }
    a {
        text-decoration: none !important;
        color: dodgerblue;
    }
}

pre {
    white-space: pre-wrap;
}

code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: .25rem;
    font-family: 'Inconsolata', monospace;
    @media only screen and (max-width : 640px) {
        font-size: 12px;
    }
}

