---
---

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navigator {
    text-align: right;
    margin-top: 20px;
    padding: 0px 10px 0 10px;
    a {
        padding: 4px 4px 4px 4px;
        margin-right: 5px;
        text-decoration: none;
        color: dodgerblue;
    }
}

.current {
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    color: #fff;
}

.head-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.home {
    padding: 0px;
    margin-top: 0px;
    section {
        padding: 100px 40px 0px;
        max-width: 600px;
        margin: 0 auto;
        header {
            border-bottom: 1px solid #eee;
            margin-bottom: 40px;
            padding-bottom: 20px;
            text-align: center;
            position: relative;
            h1 {
                font-size: 2.5em;
            }
            p {
                font-family: 'Source Sans Pro';
                font-weight: 300;
                color: #aaa;
            }
        }
    }
}

.heart {
    color: deeppink;
    font-size: 8px;
}

.main-stuff {
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}

#footer {
    //box-shadow: inset 0 1px 0 #eee;
    padding: 40px 0 0 0;
    margin-top: 100px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p{
        color: #bbb;
        font-size: 14px;
        line-height: 1.5;
        display: block;
    }
}

.article-list {
    list-style: none;
    padding: 0px;
    li {
        margin-bottom: 20px;
        a {
        text-decoration: none;
        display: block;
            aside {
                float: right
            }
        }
    }
}

.article {
    max-width: 720px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px;
    display: block;
    article {
        margin: 80px 0px 0px 0px;
        header {
            text-align: center;
            div {
                display: inline-flex;
                p {
                    margin-right: 10px;
                }
            }
            h6 {
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 0px;
            }
        }
    }
}

.body {
    line-height: 1.7em;
}