---
title: weblog
layout: base.html
---

<main class="container mx-auto px-28 mt-10">
    <div class="flex flex-col justify-center font-berkeley">
        <p class="font-bold text-center">{{title|upper}}</p>
        <!-- <code> style is in tailwind/style.css -->
        <article
            class="mt-8 text-justify
            prose-sm prose-headings:uppercase prose-headings:text-sm prose-headings:font-bold prose-headings:mb-0 prose-headings:mt-4
            prose-p:ml-12
            prose-code:p-1.5 prose-code:font-bold prose-code:text-[12px] prose-code:bg-[#f7f7f7]
            prose-pre:px-1 prose-pre:py-1.5 prose-pre:ml-12 prose-pre:border prose-pre:border-dashed prose-pre:border-1.5 prose-pre:border-gray-500">
            {{content | safe}}
        </article>
    </div>
</main>
<script>
    const tables = document.querySelectorAll('table');

    // Loop over each table
    tables.forEach((table) => {
        // Add 'not-prose' class to the table
        table.classList.add('not-prose');
    });
</script>
<!-- prose-table:border prose-table:border-dashed prose-table:border-black prose-table:border-2 prose-table:border-collapse -->
