<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
        <script src="https://use.fontawesome.com/c06b7f8b5d.js"></script>
    </head>
    <body>
        <header>
            <nav class="navigator">
                <a class="{% if page.url == '/' %} current {% endif %}" href="{{site.baseurl}}/index.html">About</a>
                <a href="https://github.com/khushmeet">Github</a>
                <a href="https://twitter.com/khushmeeet">Twitter</a>
                <a href="#">Mail</a>
                <a class="{% if page.url == '/blog.html'%} current {% endif %}" href="{{site.baseurl}}/blog.html">Blog</a>
            </nav>
        </header>
        {{ content }}
    </body>
</html>