<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="UTF-8">
        <meta name="description" content="Khushmeet Singh; Pythonist, Angular 2, Machine Learning, Wolfram Language">
        <meta name="author" content="Khushmeet Singh">
        <meta name="keywords" content="Khushmeet, Singh, github, angular, python, machine learning"/>
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@khushmeeet">
        <meta name="twitter:creator" content="@khushmeeet">
        {% if page.title %}
            <meta name="twitter:title" content="{{page.title}}">
        {% else %}
            <meta name="twitter:title" content="Khushmeet Singh">
        {% endif %}
        {% if page.shortie %}
            <meta name="twitter:description" content="{{page.shortie}}">
        {% else %}
            <meta name="twitter:description" content="Khushmeet Singh; Pythonist, Angular 2, Machine Learning, Wolfram Language">
        {% endif %}
        <meta name="twitter:image" content="{{site.url}}/assets/yeoman-logo.png">
        <!-- Open Graph Protocol -->
        <meta property="og:title" content="Khushmeet Singh" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{site.baseurl}}" />
        <meta property="og:image" content="{{site.url}}/assets/yeoman-logo.png" />
        <!-- Done -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
        <script src="https://use.fontawesome.com/c06b7f8b5d.js"></script>
    </head>
    <body>
        <header>
            <nav class="navigator">
                <a href="https://github.com/khushmeet"><i class="fa fa-github github" aria-hidden="true"></i></a>
                <a href="https://twitter.com/khushmeeet"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                <a href="mailto:khushmeetsingh1996@gmail.com"><i class="fa fa-envelope gmail" aria-hidden="true"></i></a>
                <a class="{% if page.url == '/' %} current {% endif %}" href="{{site.baseurl}}/index/">About</a>
                <a class="{% if page.url == '/blog.html'%} current {% endif %}" href="{{site.baseurl}}/blog/">Blog</a>
            </nav>
        </header>
        {{ content }}
        <footer id="footer">
            <p>&copy; Copyright 2016 Khushmeet Singh </p>
        </footer>
    </body>
</html>