<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="UTF-8">
        <meta name="description" content="Khushmeet Singh; Pythonist, Angular 2, Machine Learning, Wolfram Language">
        <meta name="author" content="Khushmeet Singh">
        <meta name="keywords" content="Khushmeet, Singh, github, angular, python, machine learning"/>
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@khushmeeet">
        <meta name="twitter:creator" content="@khushmeeet">
        {% if page.title %}
            <meta name="twitter:title" content="{{page.title}}">
        {% else %}
            <meta name="twitter:title" content="Khushmeet Singh">
        {% endif %}
        {% if page.shortie %}
            <meta name="twitter:description" content="{{page.shortie}}">
        {% else %}
            <meta name="twitter:description" content="Khushmeet Singh; Pythonist, Angular 2, Machine Learning, Wolfram Language">
        {% endif %}
        <meta name="twitter:image" content="{{site.url}}/assets/yeoman-logo.png">
        <!-- Done -->
        <!-- Open Graph Protocol -->
        <meta property="og:title" content="Khushmeet Singh" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{site.baseurl}}" />
        <meta property="og:image" content="{{site.url}}/assets/yeoman-logo.png" />
        <!-- Done -->
        <!-- Open Source Protocol -->
        <link rel="profile" href="http://osprotocol.com" />
        <meta property="os:repo" content="https://github.com/Khushmeet/khushmeet.github.io" />
        <meta property="os:rcs_type" content="git" />
        <meta property="os:src" content="git@github.com:Khushmeet/khushmeet.github.io.git" />
        <meta property="os:issue" content="https://github.com/Khushmeet/khushmeet.github.io/issues" />
        <meta property="os:commit" content="b55a2d1" />
        <meta property="os:branch" content="master" />
        <!-- Done --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-TileColor" content="#616161">
        <meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#616161">
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <nav class="navigator">
                <a href="https://github.com/khushmeet"><i class="fa fa-github github" aria-hidden="true"></i></a>
                <a href="https://twitter.com/khushmeeet"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                <a href="mailto:khushmeetsingh1996@gmail.com"><i class="fa fa-envelope gmail" aria-hidden="true"></i></a>
                <a class="{% if page.url == '/' %} current {% endif %}" href="{{site.baseurl}}/">About</a>
                <a class="{% if page.url == '/blog.html'%} current {% endif %}" href="{{site.baseurl}}/blog/">Blog</a>
            </nav>
        </header>
        {{ content }}
        <footer id="footer">
            <p>&copy; Copyright 2017 Khushmeet Singh </p>
        </footer>
    </body>
</html>