---
layout: default
---

<section class="article">
    <article>
        <header>
            <h1>{{page.title}}</h1>
            <h6>{{page.date | date: '%B %d, %Y'}}</h6>
            <div>
                <i class="fa fa-tags" aria-hidden="true"></i>
                {% for item in page.category %}
                <a href="">{{item}}</a>
                {% endfor %}
            </div>
        </header>
        <section class="body">
            {{content}}
        </section>
    </article>
</section>