---
title: Web Directory
layout: base.html
---

<main class="container mx-auto px-36 mt-10">
    <div class="columns-3">
        {% for item in collections.commonplace %}
        <div class="mb-4 border border-dashed border-black p-2 font-ibm-plex overflow-auto">
            <p class="font-bold font-ibm-plex font-lg">{{item.data.title}}</p>
            {{ item.templateContent | safe }}
            <p class="text-right p-1">-- <a href="{{item.data.source}}">{{item.data.source_title}}</a></p>
            <div class="flex">
                {% for type in item.data.type %}
                <p class="first:ml-0 mx-2 text-xs">#{{type}}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
