---
title: Web Directory
layout: base.html
---

<main class="container mx-auto px-36 mt-10">
    <div class="flex flex-col justify-center">
        <div>
            <p class="pl-3 pb-1 mx-auto font-berkeley font-bold border-b-2 border-dashed border-gray-700">
                ECCENTRIC WEBSITES</p>
            <div class="pt-1 font-ibm-plex text-[0.833em]">
                <ul class="pl-3 multi-column list-decimal list-inside">
                    {% for link in eccentric_websites %}
                    <li><a class="hover:underline hover:decoration-solid" href="{{link[1]}}">{{link[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="mt-12">
            <p class="pl-3 pb-1 mx-auto font-berkeley font-bold border-b-2 border-dashed border-gray-700">
                BLOGS</p>
            <div class="pt-1 text-[0.833em] font-ibm-plex">
                <ul class="pl-3 multi-column list-decimal list-inside">
                    {% for link in blogs %}
                    <li><a class="hover:underline hover:decoration-solid" href="{{link[1]}}">{{link[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="mt-12">
            <p class="pl-3 pb-1 mx-auto font-berkeley font-bold border-b-2 border-dashed border-gray-700">
                EDUCATIONAL WEBSITES</p>
            <div class="pt-1 text-[0.833em] font-ibm-plex">
                <ul class="pl-3 multi-column list-decimal list-inside">
                    {% for link in educational_websites %}
                    <li><a class="hover:underline hover:decoration-solid" href="{{link[1]}}">{{link[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="mt-12">
            <p class="pl-3 pb-1 mx-auto font-berkeley font-bold border-b-2 border-dashed border-gray-700">
                PUBLICATIONS & MAGAZINES</p>
            <div class="pt-1 text-[0.833em] font-ibm-plex">
                <ul class="pl-3 multi-column list-decimal list-inside">
                    {% for link in educational_websites %}
                    <li><a class="hover:underline hover:decoration-solid" href="{{link[1]}}">{{link[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
<style>
    .multi-column {
        column-count: 2;
        column-gap: 2rem;
    }

</style>
