---
title: Khushmeet's Digital Garden
layout: base.njk
---

<main class="container mx-auto px-4 mt-16">
    <div class="flex justify-center">
        <div class="mr-6">
            <img src="../assets/me.png" >
        </div>
        <div class="ml-6 font-mono text-sm">
            <p class="text-[#9BE33E] font-bold">KHUSHMEET SINGH SHERGILL</p>
            <p>--------------------------</p>
            <p><span class="text-[#D1A32F]">OS:</span> macOS 13.3.1 22E261 arm64</p>
            <p><span class="text-[#D1A32F]">Host:</span> MacBookPro17,1</p>
            <p><span class="text-[#D1A32F]">Kernel:</span> 22.4.0</p>
            <p><span class="text-[#D1A32F]">Uptime:</span> 4 days, 13 hours, 5 mins</p>
            <p><span class="text-[#D1A32F]">Packages:</span> 1 (brew)</p>
            <p><span class="text-[#D1A32F]">Shell:</span> zsh 5.9</p>
            <p><span class="text-[#D1A32F]">Resolution:</span> 1440x900</p>
            <p><span class="text-[#D1A32F]">DE:</span> Aqua</p>
            <p><span class="text-[#D1A32F]">WM:</span> Rectangle</p>
            <p><span class="text-[#D1A32F]">Terminal:</span> WezTerm</p>
            <p><span class="text-[#D1A32F]">CPU:</span> Apple M1</p>
            {# <p>GPU: Apple M1</p>
            <p>Memory: 1329MiB / 8192MiB</p> #}
        </div>
    </div>
</main>