---
title: Web Directory
layout: base.html
---

<main class="container mx-auto px-36 mt-10">
    <div class="flex flex-col justify-center">
        <div>
            <p class="pb-1 mx-auto font-berkeley font-bold">
                MOVIES</p>
            <div class="table-auto border-collapse w-full font-berkeley text-[0.833em]">
                <div class="table-header-group">
                    <div class="table-row">
                        <div class="table-cell text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            No.
                        </div>
                        <div
                            class="table-cell w-3/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            Movie
                        </div>
                        <div
                            class="table-cell w-2/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            Director
                        </div>
                        <div
                            class="table-cell w-1/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            Watched On
                        </div>
                    </div>
                </div>
                <div class="table-row-group">
                    {% for movie in movies %}
                    <div class="table-row">
                        <div class="table-cell text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{loop.index}}
                        </div>
                        <div class="table-cell w-3/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{movie[0]}}
                        </div>
                        <div class="table-cell w-2/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{movie[1]}}
                        </div>
                        <div class="table-cell w-1/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{movie[2]}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mt-12">
            <p class="pb-1 mx-auto font-berkeley font-bold">
                BOOKS</p>
            <div class="table-auto border-collapse w-full font-berkeley text-[0.833em]">
                <div class="table-header-group">
                    <div class="table-row">
                        <div class="table-cell text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            No.
                        </div>
                        <div
                            class="table-cell w-3/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            Book
                        </div>
                        <div
                            class="table-cell w-2/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            Author
                        </div>
                        <div
                            class="table-cell w-1/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed font-bold">
                            Read On
                        </div>
                    </div>
                </div>
                <div class="table-row-group">
                    {% for book in books %}
                    <div class="table-row">
                        <div class="table-cell text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{loop.index}}
                        </div>
                        <div class="table-cell w-3/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            <a href="">{{book[0]}}</a>
                        </div>
                        <div class="table-cell w-2/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{book[1]}}
                        </div>
                        <div class="table-cell w-1/6 text-left pl-1 pr-4 py-0.5 border border-black border-dashed">
                            {{book[2]}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>