<footer class="sticky top-[100vh] mb-5 mt-12">
    <div class="container mx-auto justify-items-center font-berkeley text-center text-[0.8rem]">
        <p>
            Launched 17th April 2022 <span class="font-bold">|</span> Latest build: <a class="underline"
                href="https://github.com/khushmeeet/khushmeeet.github.io/commit/e77a46ca1b301fcc73284d5f1fe719e4b5b64c55">e77a46c</a>
            <span class="font-bold">|</span> Latest build on: {{ lastUpdated }}
        </p>
    </div>
</footer>
