<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>© 2018 - All Rights with <a href="https://www.facebook.com/ahmed.mohamed.581" target="_blank">Ahmed Mohamed</a></p>
            </div>
        </div>
    </div>
</footer>
