<header class="justify-center">
    <nav>
        {# for li border -> table-cell pl-1 pr-4  border border-black border-dashed #}
        <ul class="flex justify-center font-mono">
            {% for link in sitemap %}
                <li class="p-2 mx-2">
                    {% if link == page.url %}
                        <a class="bg-amber-300 p-0.5" href="{{ link }}">~{{ link }}</a>
                    {% elif page.url == '/' and link == '/khushmeet' %}
                        <a class="bg-amber-300 p-0.5" href="{{ link }}">~{{ link }}</a>
                    {% else %}
                        <a class="hover:bg-amber-300 p-0.5" href="{{ link }}">~{{ link }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>