<header class="justify-center">
    <nav>
        {# for li border -> table-cell pl-1 pr-4 border border-black border-dashed #}
        <ul class="flex justify-center font-berkeley mt-0.5">
            {% for link in sitemap %}
            <li class="p-2 mx-2">
                {% if page.url == link %}
                {% if link == '/' %}
                <a class="bg-[#1c1c1c] text-[#d7c9ac] p-0.5" href="/">~/khushmeet</a>
                {% else %}
                <a class="bg-[#1c1c1c] text-[#d7c9ac] p-0.5" href="{{ link }}">~{{ link|trimSlash }}</a>
                {% endif %}
                {% else %}
                {% if link == '/' %}
                <a class="hover:bg-[#1c1c1c] hover:text-[#d7c9ac] p-0.5" href="/">~/khushmeet</a>
                {% else %}
                <a class="hover:bg-[#1c1c1c] hover:text-[#d7c9ac] p-0.5" href="{{ link }}">~{{ link|trimSlash }}</a>
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>